PORT=4000

NODE_ENVIRONMENT="development"

DATABASE_URL="postgresql://postgres:abhishek12345@localhost:5432/appointmentbookingsaas"

CORS_ORIGINS="http://localhost:3000"

# JWT_ACCESS_TOKEN_SECRET="qwebfuwegywe4tghfr3784yth34f728g3rf18923urhw3ufg3874bhy34567yg263gernd8q9yh23gr734gqewf"
# JWT_REFRESH_TOKEN_SECRET="fnuhjbgwehnbgfuyewhdfyuwgf8w74uytr83787r56redgbfwuegruy3qtr87312ytr87w34fgtry8qwedgqws"

# ACCESS_TOKEN_EXPIRY="30d"
# REFRESH_TOKEN_EXPIRY="60d"

JWT_SECRET="qwebfuwegywe4tghfr3784yth34f728g3rf18923urhw3ufg3874bhy34567yg263gernd8q9yh23gr734gqewf"
JWT_TOKEN_EXPIRY="30d"

RESEND_API_KEY="your_api_key"
EMAIL_FROM="sender email"

GOOGLE_CLIENT_ID="you_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
GOOGLE_REDIRECT_URI="http://localhost:4000/auth/google/callback"